
.vs/Snake/v16/.suo
.vs/Snake/v16/Server/sqlite3/db.lock
.vs/Snake/v16/Server/sqlite3/storage.ide
.vs/Snake/v16/Server/sqlite3/storage.ide-shm
.vs/Snake/v16/Server/sqlite3/storage.ide-wal
Snake/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Snake/obj/Debug/Snake.csproj.CoreCompileInputs.cache
