
.vs/Snake/v16/.suo
.vs/Snake/v16/Server/sqlite3/db.lock
.vs/Snake/v16/Server/sqlite3/storage.ide
.vs/Snake/v16/Server/sqlite3/storage.ide-shm
.vs/Snake/v16/Server/sqlite3/storage.ide-wal
Snake/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Snake/obj/Debug/Snake.csproj.CoreCompileInputs.cache
Snake/bin/Debug/Snake.exe
Snake/bin/Debug/Snake.exe.config
Snake/obj/Debug/Snake.pdb
Snake/obj/Debug/Snake.Frm_Login.resources
Snake/obj/Debug/Snake.Properties.Resources.resources
Snake/obj/Debug/Snake.exe
Snake/obj/Debug/Snake.csprojAssemblyReference.cache
Snake/obj/Debug/Snake.csproj.GenerateResource.cache
Snake/obj/Debug/Snake.csproj.FileListAbsolute.txt
Snake/bin/Debug/Snake.pdb
Snake/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Snake/obj/Debug/Snake.Frm_Main.resources
Snake/obj/Debug/DesignTimeResolveAssemblyReferences.cache
